.sidebar{
    width: 20%;
    height: 100vh;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
.one{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #4E60FF;
    cursor: pointer;
}
#fishot{
    font-size:x-large;
    font-weight:600;
}
.icons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 10px;
}
#home, #control, #video, #remote, #analytics, #settings, #logout{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 200px;
    cursor: pointer;
    padding-left: 8%;
    border-radius: 5px;
    font-weight: 400;
    color: #343434;
}
#home:hover, #control:hover, #video:hover, #remote:hover, #analytics:hover, #settings:hover, #logout:hover{
    background-color: #4E60FF4A;
    color: #4E60FF;
    font-weight: 500;
}
#control>img{
    color: #4E60FF;
}
#line{
    width: 100%;
}

icon{
    font-size: 30px;
}
